doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title 阿杰服务站 | 分类业务
    link(rel="icon" href="/assets/images/favicon.ico")
    script(src='/libs/jquery/dist/jquery.min.js' type="text/javascript")
    link(rel='stylesheet', href='/libs/normalize.css/normalize.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')

    link(rel='stylesheet', href='/assets/style/main.css')
    link(rel='stylesheet', href='/assets/style/imgitem.css')
  body
    .app
      include template/navigater
      .app-container.container
        .page-header
          h3 流量卡
        blockquote
          p 描述
        .img-list-item
          .row
            .col-md-3.col-sm-4
              .img-item-box
                img(src='/assets/images/1.png')
                .box-content
                  h3.title 移动
                  span.post
                ul.social
                  li
                    a(href='/pages/detail.html')
                      i.fa.fa-search
                  li
                    a(href='/pages/detail.html')
                      i.fa.fa-link
            .col-md-3.col-sm-4
              .img-item-box
                img(src='/assets/images/2.png')
                .box-content
                  h3.title 联通
                  span.post 未来科技
                ul.social
                  li
                    a(href='/pages/detail.html')
                      i.fa.fa-search
                  li
                    a(href='/pages/detail.html')
                      i.fa.fa-link
            .col-md-3.col-sm-4
              .img-item-box
                img(src='/assets/images/3.png')
                .box-content
                  h3.title 电信
                  span.post 未来科技
                ul.social
                  li
                    a(href='/pages/detail.html')
                      i.fa.fa-search
                  li
                    a(href='/pages/detail.html')
                      i.fa.fa-link
            .col-md-3.col-sm-4
              .img-item-box
                img(src='/assets/images/4.png')
                .box-content
                  h3.title 流量卡
                  span.post
                ul.social
                  li
                    a(href='/pages/detail.html')
                      i.fa.fa-search
                  li
                    a(href='/pages/detail.html')
                      i.fa.fa-link
            .col-md-3.col-sm-4
              .img-item-box
                img(src='/assets/images/5.png')
                .box-content
                  h3.title 影视会员
                  span.post 未来科技
                ul.social
                  li
                    a(href='/pages/detail.html')
                      i.fa.fa-search
                  li
                    a(href='/pages/detail.html')
                      i.fa.fa-link
            .col-md-3.col-sm-4
              .img-item-box
                img(src='/assets/images/6.png')
                .box-content
                  h3.title 注册卡
                  span.post 未来科技
                ul.social
                  li
                    a(href='/pages/detail.html')
                      i.fa.fa-search
                  li
                    a(href='/pages/detail.html')
                      i.fa.fa-link
            .col-md-3.col-sm-4
              .img-item-box
                img(src='/assets/images/1.png')
                .box-content
                  h3.title 小商品
                  span.post 未来科技
                ul.social
                  li
                    a(href='/pages/detail.html')
                      i.fa.fa-search
                  li
                    a(href='/pages/detail.html')
                      i.fa.fa-link
      include template/footer
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js' type="text/javascript")